set skip-completed-text on
set completion-ignore-case on
set show-mode-in-prompt on

#set editing-mode vi
$if mode=vi
  set keymap vi-insert
  "jk": vi-movement-mode
  ",s": "Isudo A "
  ",d": "ddi"
  ",nd": "0widebug A"
  ",g": "A | grep "
  ",r": reverse-search-history
  ",mr": "A --require spec/helper"
  ",l": "k"
  set keymap vi-command
  ",s": "Isudo A "
  ",d": "dd"
  ",nd": "0widebug A"
  ",g": "A | grep "
  ",r": reverse-search-history
  ",mr": "A --require spec/helper"
  ",l": "k"
$endif
