set skip-completed-text on
set completion-ignore-case on
set show-mode-in-prompt on
set show-all-if-ambiguous on
set bell-style visible

#set editing-mode vi
$if mode=vi
  set keymap vi-insert
  # From http://www.ukuug.org/events/linux2003/papers/bash_tips/
  # Incremental searching with Up and Down is configured in .inputrc
  ",b": history-search-backward
  "jk": vi-movement-mode
  ",s": "Isudo A "
  ",d": "0widebug A"
  ",g": "A | grep "
  ",r": reverse-search-history
  ",l": "A | less\C-m"
  ",s": "kA | less\C-m"
  ",1": "k"
  ",2": "kk"
  ",3": "kkk"
  set keymap vi-command
  ",s": "Isudo A "
  ",d": "0widebug A"
  ",g": "A | grep "
  # From http://www.ukuug.org/events/linux2003/papers/bash_tips/
  # Incremental searching with Up and Down is configured in .inputrc
  ",b": history-search-backward
  ",r": reverse-search-history
  ",l": "A | less\C-m"
  ",s": "kA | less\C-m"
  ",1": "k"
  ",2": "kk"
  ",3": "kkk"
$endif
